.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-signup-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 60vh;
  min-width: 25vw;
  border-radius: 5px;
  border: 1px solid $border-color;
  padding: 50px;
  .title {
    align-self: center;
    font-size: 28px;
    margin-bottom: 10px;
  }
  .tips {
    color: $primary-color;
    text-decoration: none;
  }
  .or {
    align-self: center;
  }
  @extend .btn-style;
}
